*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace,sans-serif;
}

body,html{
    width: 100%;
    height: 100vh;
    /* background-color: #f0f0f0; */
    background-color: rgb(17, 233, 222);
    position: relative;
}


.main-heading
{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-heading h2{
    font-size: 2.7rem;
    font-weight: bolder;
}

.container{
    height: 70vh;
    width: 100%;
    /* background-color: cornflowerblue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .buttons{
    height: 60vh;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.buttons button{
    border-radius: 10px;
    outline: none;
    border: none;
    width: 180px;
    height: 120px;
    background-color: #333333;
     font-size: 4rem;
    font-weight: bolder;
    color: rgb(255, 0, 0);
}

.Resetbtn{
    height: 100px;
    width: 100%;
    /* background-color: coral; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.Resetbtn .resetbtn{
    border-radius: 8px;
    padding: 12px 80px;
    font-size: 1.1rem;
    background-color: black;
    cursor: pointer;
    color: white;
    letter-spacing: 3px;
    outline: none;
    border: none;
}

.model{
    height: 100vh;
    width: 100%;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(30px);
    background-color: rgba(128, 128, 128, 0.3);
}

.model-detail{
    height: 150px;
    width: 40%;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-content: center;
}

.model-detail h4{
    margin-top: 8%;
    font-size: 2rem;
}
